In [1]:
import json
import pandas as pd

In [2]:
with open('bos_2019.json') as f:
  data = json.load(f)

In [3]:
df = pd.DataFrame(data)

In [4]:
df.head()

,id,game_date,game_season,team_id,opponent_id,team_points,opponent_points,is_team_home,is_overtime
0,12677,2018-10-03,2019,31,39,0,7,False,False
1,12678,2018-10-04,2019,31,36,4,0,False,False
2,12679,2018-10-08,2019,31,37,6,3,True,False
3,12680,2018-10-11,2019,31,55,4,1,True,False
4,12681,2018-10-13,2019,31,38,8,2,True,False