In [7]:
import json

In [9]:
with open('bos_2019.json') as f:
  data = json.load(f)

In [10]:
import pandas as pd

In [50]:
df = pd.DataFrame(data)
df.head()

,id,game_date,game_season,team_id,opponent_id,team_points,opponent_points,is_team_home,is_overtime
0,12677,2018-10-03,2019,31,39,0,7,False,False
1,12678,2018-10-04,2019,31,36,4,0,False,False
2,12679,2018-10-08,2019,31,37,6,3,True,False
3,12680,2018-10-11,2019,31,55,4,1,True,False
4,12681,2018-10-13,2019,31,38,8,2,True,False

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               82 non-null     object
 1   game_date        82 non-null     object
 2   game_season      82 non-null     object
 3   team_id          82 non-null     object
 4   opponent_id      82 non-null     object
 5   team_points      82 non-null     object
 6   opponent_points  82 non-null     object
 7   is_team_home     82 non-null     object
 8   is_overtime      82 non-null     object
dtypes: object(9)
memory usage: 5.9+ KB

In [52]:
# df.set_index('id', inplace=True)

In [53]:
df.head()

,id,game_date,game_season,team_id,opponent_id,team_points,opponent_points,is_team_home,is_overtime
0,12677,2018-10-03,2019,31,39,0,7,False,False
1,12678,2018-10-04,2019,31,36,4,0,False,False
2,12679,2018-10-08,2019,31,37,6,3,True,False
3,12680,2018-10-11,2019,31,55,4,1,True,False
4,12681,2018-10-13,2019,31,38,8,2,True,False

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               82 non-null     object
 1   game_date        82 non-null     object
 2   game_season      82 non-null     object
 3   team_id          82 non-null     object
 4   opponent_id      82 non-null     object
 5   team_points      82 non-null     object
 6   opponent_points  82 non-null     object
 7   is_team_home     82 non-null     object
 8   is_overtime      82 non-null     object
dtypes: object(9)
memory usage: 5.9+ KB

In [60]:
numeric_cols = ['id','game_season', 'team_id', 'opponent_id', 'team_points', 'opponent_points']
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, downcast='integer', axis=1)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               82 non-null     int16
 1   game_date        82 non-null     datetime64[ns]
 2   game_season      82 non-null     int16
 3   team_id          82 non-null     int16
 4   opponent_id      82 non-null     int16
 5   team_points      82 non-null     int16
 6   opponent_points  82 non-null     int16
 7   is_team_home     82 non-null     object
 8   is_overtime      82 non-null     object
dtypes: datetime64[ns](1), int16(6), object(2)
memory usage: 3.0+ KB

In [62]:
df.head()

,id,game_date,game_season,team_id,opponent_id,team_points,opponent_points,is_team_home,is_overtime
0,12677,2018-10-03,2019,31,39,0,7,False,False
1,12678,2018-10-04,2019,31,36,4,0,False,False
2,12679,2018-10-08,2019,31,37,6,3,True,False
3,12680,2018-10-11,2019,31,55,4,1,True,False
4,12681,2018-10-13,2019,31,38,8,2,True,False

In [63]:
df['game_date'] = pd.to_datetime(df['game_date'])

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               82 non-null     int16
 1   game_date        82 non-null     datetime64[ns]
 2   game_season      82 non-null     int16
 3   team_id          82 non-null     int16
 4   opponent_id      82 non-null     int16
 5   team_points      82 non-null     int16
 6   opponent_points  82 non-null     int16
 7   is_team_home     82 non-null     object
 8   is_overtime      82 non-null     object
dtypes: datetime64[ns](1), int16(6), object(2)
memory usage: 3.0+ KB

In [65]:
x = df['is_team_home'].iloc[0]

bool_dict = {'True': 1, 'False': 0}

df['is_team_home'].replace(bool_dict, inplace=True)
df['is_overtime'].replace(bool_dict, inplace=True)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               82 non-null     int16
 1   game_date        82 non-null     datetime64[ns]
 2   game_season      82 non-null     int16
 3   team_id          82 non-null     int16
 4   opponent_id      82 non-null     int16
 5   team_points      82 non-null     int16
 6   opponent_points  82 non-null     int16
 7   is_team_home     82 non-null     int64
 8   is_overtime      82 non-null     int64
dtypes: datetime64[ns](1), int16(6), int64(2)
memory usage: 3.0 KB

In [67]:
df.head()

,id,game_date,game_season,team_id,opponent_id,team_points,opponent_points,is_team_home,is_overtime
0,12677,2018-10-03,2019,31,39,0,7,0,0
1,12678,2018-10-04,2019,31,36,4,0,0,0
2,12679,2018-10-08,2019,31,37,6,3,1,0
3,12680,2018-10-11,2019,31,55,4,1,1,0
4,12681,2018-10-13,2019,31,38,8,2,1,0

In [68]:
def team_win(row):
    return 1 if row['team_points'] >= row['opponent_points'] else -1

df['is_team_win'] = df.apply(team_win, axis=1)

df.head()

,id,game_date,game_season,team_id,opponent_id,team_points,opponent_points,is_team_home,is_overtime,is_team_win
0,12677,2018-10-03,2019,31,39,0,7,0,0,-1
1,12678,2018-10-04,2019,31,36,4,0,0,0,1
2,12679,2018-10-08,2019,31,37,6,3,1,0,1
3,12680,2018-10-11,2019,31,55,4,1,1,0,1
4,12681,2018-10-13,2019,31,38,8,2,1,0,1

In [69]:
team_win_dict = df[['game_date', 'is_team_win']].to_dict(orient='records')

current_streak = None
last_outcome = None

for game in team_win_dict:
    outcome = game['is_team_win']
    
    if current_streak is None:
        current_streak = outcome
        last_outcome = outcome
    else:
        if outcome != last_outcome:
            current_streak = outcome
        else:
            current_streak += outcome
    
    game['streak'] = current_streak
    last_outcome = outcome
    
    print(game)

{'game_date': Timestamp('2018-10-03 00:00:00'), 'is_team_win': -1, 'streak': -1}
{'game_date': Timestamp('2018-10-04 00:00:00'), 'is_team_win': 1, 'streak': 1}
{'game_date': Timestamp('2018-10-08 00:00:00'), 'is_team_win': 1, 'streak': 2}
{'game_date': Timestamp('2018-10-11 00:00:00'), 'is_team_win': 1, 'streak': 3}
{'game_date': Timestamp('2018-10-13 00:00:00'), 'is_team_win': 1, 'streak': 4}
{'game_date': Timestamp('2018-10-17 00:00:00'), 'is_team_win': -1, 'streak': -1}
{'game_date': Timestamp('2018-10-18 00:00:00'), 'is_team_win': -1, 'streak': -2}
{'game_date': Timestamp('2018-10-20 00:00:00'), 'is_team_win': -1, 'streak': -3}
{'game_date': Timestamp('2018-10-23 00:00:00'), 'is_team_win': 1, 'streak': 1}
{'game_date': Timestamp('2018-10-25 00:00:00'), 'is_team_win': 1, 'streak': 2}
{'game_date': Timestamp('2018-10-27 00:00:00'), 'is_team_win': -1, 'streak': -1}
{'game_date': Timestamp('2018-10-30 00:00:00'), 'is_team_win': 1, 'streak': 1}
{'game_date': Timestamp('2018-11-03 00:00:00'), 'is_team_win': -1, 'streak': -1}
{'game_date': Timestamp('2018-11-05 00:00:00'), 'is_team_win': 1, 'streak': 1}
{'game_date': Timestamp('2018-11-08 00:00:00'), 'is_team_win': -1, 'streak': -1}
{'game_date': Timestamp('2018-11-10 00:00:00'), 'is_team_win': 1, 'streak': 1}
{'game_date': Timestamp('2018-11-11 00:00:00'), 'is_team_win': 1, 'streak': 2}
{'game_date': Timestamp('2018-11-14 00:00:00'), 'is_team_win': -1, 'streak': -1}
{'game_date': Timestamp('2018-11-16 00:00:00'), 'is_team_win': -1, 'streak': -2}
{'game_date': Timestamp('2018-11-17 00:00:00'), 'is_team_win': 1, 'streak': 1}
{'game_date': Timestamp('2018-11-21 00:00:00'), 'is_team_win': -1, 'streak': -1}
{'game_date': Timestamp('2018-11-23 00:00:00'), 'is_team_win': 1, 'streak': 1}
{'game_date': Timestamp('2018-11-24 00:00:00'), 'is_team_win': 1, 'streak': 2}
{'game_date': Timestamp('2018-11-26 00:00:00'), 'is_team_win': -1, 'streak': -1}
{'game_date': Timestamp('2018-11-29 00:00:00'), 'is_team_win': 1, 'streak': 1}
{'game_date': Timestamp('2018-12-01 00:00:00'), 'is_team_win': -1, 'streak': -1}
{'game_date': Timestamp('2018-12-04 00:00:00'), 'is_team_win': -1, 'streak': -2}
{'game_date': Timestamp('2018-12-06 00:00:00'), 'is_team_win': -1, 'streak': -3}
{'game_date': Timestamp('2018-12-08 00:00:00'), 'is_team_win': 1, 'streak': 1}
{'game_date': Timestamp('2018-12-09 00:00:00'), 'is_team_win': 1, 'streak': 2}
{'game_date': Timestamp('2018-12-11 00:00:00'), 'is_team_win': 1, 'streak': 3}
{'game_date': Timestamp('2018-12-14 00:00:00'), 'is_team_win': -1, 'streak': -1}
{'game_date': Timestamp('2018-12-16 00:00:00'), 'is_team_win': -1, 'streak': -2}
{'game_date': Timestamp('2018-12-17 00:00:00'), 'is_team_win': 1, 'streak': 1}
{'game_date': Timestamp('2018-12-20 00:00:00'), 'is_team_win': 1, 'streak': 2}
{'game_date': Timestamp('2018-12-22 00:00:00'), 'is_team_win': 1, 'streak': 3}
{'game_date': Timestamp('2018-12-23 00:00:00'), 'is_team_win': -1, 'streak': -1}
{'game_date': Timestamp('2018-12-27 00:00:00'), 'is_team_win': -1, 'streak': -2}
{'game_date': Timestamp('2018-12-29 00:00:00'), 'is_team_win': 1, 'streak': 1}
{'game_date': Timestamp('2019-01-01 00:00:00'), 'is_team_win': 1, 'streak': 2}
{'game_date': Timestamp('2019-01-03 00:00:00'), 'is_team_win': 1, 'streak': 3}
{'game_date': Timestamp('2019-01-05 00:00:00'), 'is_team_win': 1, 'streak': 4}
{'game_date': Timestamp('2019-01-08 00:00:00'), 'is_team_win': 1, 'streak': 5}
{'game_date': Timestamp('2019-01-10 00:00:00'), 'is_team_win': -1, 'streak': -1}
{'game_date': Timestamp('2019-01-12 00:00:00'), 'is_team_win': 1, 'streak': 1}
{'game_date': Timestamp('2019-01-14 00:00:00'), 'is_team_win': -1, 'streak': -1}
{'game_date': Timestamp('2019-01-16 00:00:00'), 'is_team_win': -1, 'streak': -2}
{'game_date': Timestamp('2019-01-17 00:00:00'), 'is_team_win': 1, 'streak': 1}
{'game_date': Timestamp('2019-01-19 00:00:00'), 'is_team_win': -1, 'streak': -1}
{'game_date': Timestamp('2019-01-29 00:00:00'), 'is_team_win': -1, 'streak': -2}
{'game_date': Timestamp('2019-01-31 00:00:00'), 'is_team_win': -1, 'streak': -3}
{'game_date': Timestamp('2019-02-03 00:00:00'), 'is_team_win': 1, 'streak': 1}
{'game_date': Timestamp('2019-02-05 00:00:00'), 'is_team_win': 1, 'streak': 2}
{'game_date': Timestamp('2019-02-06 00:00:00'), 'is_team_win': -1, 'streak': -1}
{'game_date': Timestamp('2019-02-09 00:00:00'), 'is_team_win': 1, 'streak': 1}
{'game_date': Timestamp('2019-02-10 00:00:00'), 'is_team_win': 1, 'streak': 2}
{'game_date': Timestamp('2019-02-12 00:00:00'), 'is_team_win': 1, 'streak': 3}
{'game_date': Timestamp('2019-02-15 00:00:00'), 'is_team_win': 1, 'streak': 4}
{'game_date': Timestamp('2019-02-16 00:00:00'), 'is_team_win': 1, 'streak': 5}
{'game_date': Timestamp('2019-02-18 00:00:00'), 'is_team_win': 1, 'streak': 6}
{'game_date': Timestamp('2019-02-20 00:00:00'), 'is_team_win': 1, 'streak': 7}
{'game_date': Timestamp('2019-02-23 00:00:00'), 'is_team_win': -1, 'streak': -1}
{'game_date': Timestamp('2019-02-26 00:00:00'), 'is_team_win': 1, 'streak': 1}
{'game_date': Timestamp('2019-02-28 00:00:00'), 'is_team_win': 1, 'streak': 2}
{'game_date': Timestamp('2019-03-02 00:00:00'), 'is_team_win': 1, 'streak': 3}
{'game_date': Timestamp('2019-03-05 00:00:00'), 'is_team_win': 1, 'streak': 4}
{'game_date': Timestamp('2019-03-07 00:00:00'), 'is_team_win': 1, 'streak': 5}
{'game_date': Timestamp('2019-03-09 00:00:00'), 'is_team_win': 1, 'streak': 6}
{'game_date': Timestamp('2019-03-10 00:00:00'), 'is_team_win': -1, 'streak': -1}
{'game_date': Timestamp('2019-03-12 00:00:00'), 'is_team_win': -1, 'streak': -2}
{'game_date': Timestamp('2019-03-14 00:00:00'), 'is_team_win': -1, 'streak': -3}
{'game_date': Timestamp('2019-03-16 00:00:00'), 'is_team_win': 1, 'streak': 1}
{'game_date': Timestamp('2019-03-19 00:00:00'), 'is_team_win': 1, 'streak': 2}
{'game_date': Timestamp('2019-03-21 00:00:00'), 'is_team_win': 1, 'streak': 3}
{'game_date': Timestamp('2019-03-23 00:00:00'), 'is_team_win': 1, 'streak': 4}
{'game_date': Timestamp('2019-03-25 00:00:00'), 'is_team_win': -1, 'streak': -1}
{'game_date': Timestamp('2019-03-27 00:00:00'), 'is_team_win': 1, 'streak': 1}
{'game_date': Timestamp('2019-03-30 00:00:00'), 'is_team_win': -1, 'streak': -1}
{'game_date': Timestamp('2019-03-31 00:00:00'), 'is_team_win': -1, 'streak': -2}
{'game_date': Timestamp('2019-04-02 00:00:00'), 'is_team_win': 1, 'streak': 1}
{'game_date': Timestamp('2019-04-04 00:00:00'), 'is_team_win': 1, 'streak': 2}
{'game_date': Timestamp('2019-04-06 00:00:00'), 'is_team_win': -1, 'streak': -1}