In [7]:
import json

In [9]:
with open('bos_2019.json') as f:
  data = json.load(f)

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(data)
df.head()

,id,game_date,game_season,team_id,opponent_id,team_points,opponent_points,is_team_home,is_overtime
0,12677,2018-10-03,2019,31,39,0,7,False,False
1,12678,2018-10-04,2019,31,36,4,0,False,False
2,12679,2018-10-08,2019,31,37,6,3,True,False
3,12680,2018-10-11,2019,31,55,4,1,True,False
4,12681,2018-10-13,2019,31,38,8,2,True,False

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               82 non-null     object
 1   game_date        82 non-null     object
 2   game_season      82 non-null     object
 3   team_id          82 non-null     object
 4   opponent_id      82 non-null     object
 5   team_points      82 non-null     object
 6   opponent_points  82 non-null     object
 7   is_team_home     82 non-null     object
 8   is_overtime      82 non-null     object
dtypes: object(9)
memory usage: 5.9+ KB

In [13]:
df.set_index('id', inplace=True)

In [14]:
df.head()

,game_date,game_season,team_id,opponent_id,team_points,opponent_points,is_team_home,is_overtime
id,,,,,,,,
12677,2018-10-03,2019,31,39,0,7,False,False
12678,2018-10-04,2019,31,36,4,0,False,False
12679,2018-10-08,2019,31,37,6,3,True,False
12680,2018-10-11,2019,31,55,4,1,True,False
12681,2018-10-13,2019,31,38,8,2,True,False

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82 entries, 12677 to 12758
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_date        82 non-null     object
 1   game_season      82 non-null     object
 2   team_id          82 non-null     object
 3   opponent_id      82 non-null     object
 4   team_points      82 non-null     object
 5   opponent_points  82 non-null     object
 6   is_team_home     82 non-null     object
 7   is_overtime      82 non-null     object
dtypes: object(8)
memory usage: 5.8+ KB

In [17]:
numeric_cols = ['game_season', 'team_id', 'opponent_id', 'team_points', 'opponent_points']
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, downcast='integer', axis=1)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82 entries, 12677 to 12758
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_date        82 non-null     object
 1   game_season      82 non-null     int16
 2   team_id          82 non-null     int16
 3   opponent_id      82 non-null     int16
 4   team_points      82 non-null     int16
 5   opponent_points  82 non-null     int16
 6   is_team_home     82 non-null     object
 7   is_overtime      82 non-null     object
dtypes: int16(5), object(3)
memory usage: 3.4+ KB

In [19]:
df.head()

,game_date,game_season,team_id,opponent_id,team_points,opponent_points,is_team_home,is_overtime
id,,,,,,,,
12677,2018-10-03,2019,31,39,0,7,False,False
12678,2018-10-04,2019,31,36,4,0,False,False
12679,2018-10-08,2019,31,37,6,3,True,False
12680,2018-10-11,2019,31,55,4,1,True,False
12681,2018-10-13,2019,31,38,8,2,True,False

In [20]:
df['game_date'] = pd.to_datetime(df['game_date'])

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82 entries, 12677 to 12758
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_date        82 non-null     datetime64[ns]
 1   game_season      82 non-null     int16
 2   team_id          82 non-null     int16
 3   opponent_id      82 non-null     int16
 4   team_points      82 non-null     int16
 5   opponent_points  82 non-null     int16
 6   is_team_home     82 non-null     object
 7   is_overtime      82 non-null     object
dtypes: datetime64[ns](1), int16(5), object(2)
memory usage: 3.4+ KB

In [23]:
x = df['is_team_home'].iloc[0]

bool_dict = {'True': 1, 'False': 0}

df['is_team_home'].replace(bool_dict, inplace=True)
df['is_overtime'].replace(bool_dict, inplace=True)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 82 entries, 12677 to 12758
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_date        82 non-null     datetime64[ns]
 1   game_season      82 non-null     int16
 2   team_id          82 non-null     int16
 3   opponent_id      82 non-null     int16
 4   team_points      82 non-null     int16
 5   opponent_points  82 non-null     int16
 6   is_team_home     82 non-null     int64
 7   is_overtime      82 non-null     int64
dtypes: datetime64[ns](1), int16(5), int64(2)
memory usage: 3.4+ KB

In [28]:
df.head()

,game_date,game_season,team_id,opponent_id,team_points,opponent_points,is_team_home,is_overtime
id,,,,,,,,
12677,2018-10-03,2019,31,39,0,7,0,0
12678,2018-10-04,2019,31,36,4,0,0,0
12679,2018-10-08,2019,31,37,6,3,1,0
12680,2018-10-11,2019,31,55,4,1,1,0
12681,2018-10-13,2019,31,38,8,2,1,0